<!DOCTYPE html>
<html>
  <head>
    <title>RailsTaskManager</title>
      <style type="text/css">
      h1 {
      text-align: center;
      }
      </style>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
